::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #cfcfcf;
}

::-webkit-scrollbar-thumb {
  background: gray;
}

* {
  text-decoration: none;
}

body {
  transition: all 0.5s;
}
